/* animations.css */
@keyframes footsteps-1 {
    10% { transform: translate(8px, -15px) rotate(30deg); }
    20% { transform: translate(30px, -45px) rotate(30deg); }
    30% { transform: translate(40px, -75px) rotate(20deg); }
    40% { transform: translate(45px, -100px) rotate(10deg); }
    50% { transform: translate(50px, -125px) rotate(10deg); }
    60% { transform: translate(50px, -135px) rotate(10deg); }
    100% { transform: translate(50px, -135px) rotate(20deg); }
}

@keyframes footsteps-2 {
    0% { }
    80% { transform: translate(-170px, -25px) rotate(-90deg); }
    100% { transform: translate(-180px, -25px) rotate(-90deg); }
}

@keyframes scroll-1 {
    10% { transform: translate(8px, -15px); }
    20% { transform: translate(30px, -45px); }
    30% { transform: translate(40px, -75px); }
    40% { transform: translate(45px, -100px); }
    50% { transform: translate(50px, -125px); }
    60% { transform: translate(50px, -135px); }
    100% { transform: translate(50px, -135px); }
}

@keyframes scroll-2 {
    0% { }
    80% { transform: translate(-170px, -25px); }
    100% { transform: translate(-180px, -25px); }
}